body {
    background-color: orange;
}

#container-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

aside { 
    padding: 50px;
    border: 1px solid black;
}
 aside {
      background-color: #f0e68c;
      padding: 15px;
    }

    aside img {
      width: 200px;
      height: auto;
      display: block;
      margin-top: 10px;
    }
