body {
    background-color: orange;
}

#container-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aside-header { 
    padding: 50px;
    border: 1px solid black;
}
